<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
   <!--<add key="dbServer" value="10.200.7.16\SQL2008"/>
    <add key="securityCatalog" value="jg_sec"/>
    <add key="applicationCatalog" value="jg_demo2"/>
    <add key="backupLocation" value="D:\SQL Backups\"/>
    <add key="dataLocation" value="D:\SQL Server\MSSQL10_50.SQL2008\MSSQL\DATA\"/>
    <add key="logLocation" value="L:\SQL Server\MSSQL10_50.SQL2008\MSSQL\Logs\"/>-->
    <add key="dbServer" value="172.16.15.25\QA2016"/>
    <add key="securityCatalog" value="QA_Security"/>
    <add key="QA_Security:logicalData" value="FTZLink_Data"/>
    <add key="QA_Security:logicalLog" value="FTZLink_Log"/>
    <add key="applicationCatalog" value="IP_3000_QA"/>
    <add key="IP_3000_QA:logicalData" value="FTZLink_Discrete_Data"/>
    <add key="IP_3000_QA:logicalLog" value="FTZLink_Discrete_Log"/>
    <add key="backupLocation" value="B:\SQL Backups\QA2016\"/>
    <add key="dataLocation" value="D:\SQL Server\MSSQL13.QA2016\MSSQL\DATA\"/>
    <add key="logLocation" value="L:\SQL Server\MSSQL13.QA2016\MSSQL\Logs\"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
